@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle,
    rgba(3, 105, 161, 1) 0%,
    rgba(4, 86, 130, 1) 12%,
    rgba(6, 39, 52, 1) 57%,
    rgba(5, 5, 5, 1) 100%
  );
}

.custom-input {
  @apply w-full text-sm px-3 py-2 rounded-md placeholder-slate-500 focus:outline-none focus:border-green-400 focus:ring-2 focus:ring-sky-500 transition-all ease-out duration-300;
}
.custom-button {
  @apply py-2 px-6 self-center font-semibold  rounded-full  transition-colors ease-out duration-300;
}
.success-color {
  @apply text-green-400 bg-green-400/25 hover:bg-green-400/40;
}

.epic-rare {
  @apply ring-2 ring-violet-500 bg-violet-500/30;
}
.uncommon-rare {
  @apply ring-2 ring-blue-500 bg-blue-500/30;
}
.rare-rare {
  @apply ring-2 ring-orange-500 bg-orange-500/30;
}
.ultra-rare {
  @apply ring-2 ring-amber-400 bg-amber-400/30;
}
.common-rare {
  @apply ring-2 ring-green-500 bg-green-500/30;
}
.error {
  @apply text-red-400 bg-red-400/25;
}
